$light-blue: #a9c2ff87;
$light-blue-bg: #b2a9ff0f;

$main-background-table-color: #ffffff;
$main-font-color: #4c4c4c;
$main-theme-color: #0d6efd;

$danger-color: #f84042;
$contrast-green: #37ae3b;
$light-gray: #bebebe;
$dark-blue: #040047;

$white: #fff;
$black: #000;

$body-color: #f9f9f9;

$block-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
$border-color:transparent;
